<h2>
  ホーム
</h2>

<p>
  本Webアプリケーションはボイスロイド２エディタでの作業をサポートするものです。<br>
  scriptとは台本という意味ですが、本アプリの対象とするscriptは<br>
  ボイロ動画の台詞、歌ボの歌詞、シンプルな受け答え、ネット小説やノベルゲームの文章など<br>
  ボイスロイドが発生する可能性があるすべてのテキストデータを指します。
</p>


<nb-card>
  <nb-card-header>
    <h4>
      調声
    </h4>
  </nb-card-header>

  <nb-card-body>

    <div class="item-block">
      <a [routerLink]="['/pages/editors/script-project']">
        <h5>
          <nb-icon icon="folder-outline"></nb-icon>
          プロジェクト
        </h5>
      </a>
      <p class="direction-block">
        ボイスロイド２エディタの調声データをgoogleドライブを利用して保存・公開することができます。<br>
      </p>
      <div>
        <img src="assets/images/googleDrive.png" style="height: 50px; margin-left: 20px;">
      </div>
    </div>
    <div class="item-block">
      <a [routerLink]="['/pages/editors/voiceroid-editor']">
        <h5>
          <nb-icon icon="text-outline"></nb-icon>
          台本編集
        </h5>
      </a>
      <p class="direction-block">
        ボイスロイド２エディタで使用するための台本データの作成・編集・保存ができます。<br>
        主に台本にキャラクター情報を結びつけるために使用します。
      </p>
      <div>
        <img src="assets/images/scriptImage.png" style="height: 200px">
      </div>
    </div>
    <div class="item-block">
      <a [routerLink]="['/pages/charts/PhraseDictionary']">
        <h5>
          <nb-icon icon="book-open-outline"></nb-icon>
          フレーズ辞書
        </h5>
      </a>
      <p class="direction-block">
        ボイスロイド２エディタのフレーズ辞書をグラフ表示します。<br>
        音量、話速、高さ、抑揚を同時に表示させたいときに使用できます。
      </p>
      <div>
        <img src="assets/images/phraseImage.png" style="height: 200px">
      </div>
    </div>

  </nb-card-body>
</nb-card>
