.file-type{
  display: inline-block;
  width: 200px;
  font-weight: bold;
}

.file-name{
  display: inline-block;
  width: 400px;
}

.file-block{
  padding: 30px 20px 20px 20px;
}

.action-icon{
  display: inline-block;
  cursor: pointer;
  width: 50px;
}
