<h2>
  プロジェクト
</h2>

<p>
  ボイスロイド２の調声データをプロジェクトにまとめて Googleドライブ に保存したり、Web上に公開したりできます。<br>
  注意：このページで扱うデータは Googleドライブ 上にアップロードされ公開されるので、著作権や個人情報には十分注意してください。
</p>

<!--ログインしていないとき-->
<ng-container *ngIf="!userExists">
  <p>
    ログインしていません。googleアカウントでログインすることでgoogleドライブを使ったプロジェクトの保存や共有が行えます。ログインは画面右上のログインボタンから行えます。
  </p>
</ng-container>

<nb-card>
  <nb-accordion>
    <nb-accordion-item #item>
      <nb-accordion-item-header>
        <h4>プロジェクトの読込</h4>
      </nb-accordion-item-header>
      <nb-accordion-item-body>

        <div *ngIf="userExists">
          <h5>Googleドライブ から読込</h5>
          <button nbButton outline (click)='openDriveProjects(dialog)'>
            Googleドライブからプロジェクトを開く
            <nb-icon icon="list-outline"></nb-icon>
          </button>
        </div>

        <div *ngIf="queryId">
          <h5>Googleドライブ からダウンロード</h5>
          <a [href]="downloadLink">
            <button nbButton outline>
              Googleドライブからプロジェクトをダウンロード
              <nb-icon icon="download-outline"></nb-icon>
            </button>
          </a>
        </div>

        <h5 style="margin-top: 50px;">
          自分のPC から読込
        </h5>
        <ngx-drop-area (fileLoad)="onProjectLoad($event)" text="プロジェクトファイル(.voisproj)" type="UTF-8"></ngx-drop-area>

      </nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion>
</nb-card>

<nb-card>
  <nb-card-header>
    <h4>
      調声データ
      <span *ngIf="projectName">（{{projectName}}）</span>
      <button nbButton outline style="float: right" (click)="clearProject()">
        新規
        <nb-icon icon="square-outline"></nb-icon>
      </button>
    </h4>
  </nb-card-header>

  <nb-card-body>

    <h5>
      ファイル読み込み
    </h5>
    <ngx-drop-area *ngIf="!driveProject || myDriveProject"
      (fileLoad)="onScriptLoad($event)" text=".vois、.vcha、.pdic、.vpc、.settings" type="UTF-8"></ngx-drop-area>

    <h5 style="margin-top: 50px;">
      <nb-icon icon="text-outline"></nb-icon>
      台本ファイル
    </h5>
    <ng2-smart-table [settings]="scriptSettings" [source]="scriptSource" (deleteConfirm)="onDeleteConfirm($event,'script')"></ng2-smart-table>
    <div class="file-block">
      <span class="file-type">キャラクター情報(.vcha)</span>
      <span class="file-name">{{projectService.project.characters?.name}}</span>
      <ng-container *ngIf="projectService.project.characters">
        <nb-icon icon="trash-2-outline" class="action-icon" (click)="clearFile(projectService.project.characters, '.vcha')"></nb-icon>
        <nb-icon icon="download-outline" class="action-icon" (click)="downloadFile(projectService.project.characters)"></nb-icon>
      </ng-container>
    </div>

    <h5 style="margin-top: 50px;">
      <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><defs><style></style></defs><g id="Layer_2" data-name="Layer 2"><g id="smiling-face"><g id="smiling-face" data-name="smiling-face"><rect width="24" height="24" opacity="0"/><path d="M12 2c5.523 0 10 4.477 10 10s-4.477 10-10 10S2 17.523 2 12 6.477 2 12 2zm0 2a8 8 0 1 0 0 16 8 8 0 0 0 0-16zm5 9a5 5 0 0 1-10 0z" id="🎨-Icon-Сolor"/></g></g></g></svg>
      ボイスロイド２エディタ
      <a href="https://sites.google.com/view/voiceroid-script-guide/%E8%A8%AD%E5%AE%9A%E3%83%95%E3%82%A1%E3%82%A4%E3%83%AB%E3%81%AE%E5%8F%96%E5%BE%97%E6%96%B9%E6%B3%95" target="_brank">
        <nb-icon icon="question-mark-circle-outline"></nb-icon>
      </a>
    </h5>
    <div class="file-block">
      <span class="file-type">フレーズ辞書(.pdic)</span>
      <span class="file-name">{{projectService.project.phraseDictionary?.name}}</span>
      <ng-container *ngIf="projectService.project.phraseDictionary">
        <nb-icon icon="trash-2-outline" class="action-icon" (click)="clearFile(projectService.project.phraseDictionary, '.pdic')"></nb-icon>
        <nb-icon icon="download-outline" class="action-icon" (click)="downloadFile(projectService.project.phraseDictionary)"></nb-icon>
        <nb-icon icon="book-open-outline" class="action-icon" [routerLink]="['/pages/charts/PhraseDictionary', {number: 0}]"></nb-icon>
      </ng-container>
    </div>
    <div class="file-block">
      <span class="file-type">ボイスプリセット(.vpc)</span>
      <span class="file-name">{{projectService.project.voicePreset?.name}}</span>
      <ng-container *ngIf="projectService.project.voicePreset">
        <nb-icon icon="trash-2-outline" class="action-icon" (click)="clearFile(projectService.project.voicePreset, '.vpc')"></nb-icon>
        <nb-icon icon="download-outline" class="action-icon" (click)="downloadFile(projectService.project.voicePreset)"></nb-icon>
      </ng-container>
    </div>
    <div class="file-block">
      <span class="file-type">設定ファイル(.settings)</span>
      <span class="file-name">{{projectService.project.settings?.name}}</span>
      <ng-container *ngIf="projectService.project.settings">
        <nb-icon icon="trash-2-outline" class="action-icon" (click)="clearFile(projectService.project.settings, '.settings')"></nb-icon>
        <nb-icon icon="download-outline" class="action-icon" (click)="downloadFile(projectService.project.settings)"></nb-icon>
      </ng-container>
    </div>

    <ng-container *ngIf="userExists">
      <h5 style="margin-top: 50px;">
        <nb-icon icon="attach-outline"></nb-icon>
        添付ファイル
      </h5>
      <ngx-drop-area *ngIf="!driveProject || myDriveProject"
        (fileLoad)="onLinkFileLoad($event)" text="色々なファイル" type="bin"></ngx-drop-area>
      <ng2-smart-table [settings]="linkSettings" [source]="linkSource" (deleteConfirm)="onDeleteConfirm($event,'link')"></ng2-smart-table>
    </ng-container>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header>
    <h4>プロジェクトの保存・公開</h4>
  </nb-card-header>
  <nb-card-body>
    <div *ngIf="userExists && (!driveProject || myDriveProject)"  style="margin-bottom: 50px;">
      <h5>
        Googleドライブ に保存
      </h5>
      <button nbButton outline (click)="makeDriveProject()" *ngIf="!driveProject">
        プロジェクトの作成
        <nb-icon icon="plus-square-outline"></nb-icon>
      </button>
      <button nbButton outline (click)="updateDriveProject()" *ngIf="driveProject">
        プロジェクトの更新
        <nb-icon icon="upload-outline"></nb-icon>
      </button>
      <br>
      <div style="margin-left: 20px; margin-top: 15px;" *ngIf="myDriveProject">
        <h6>公開設定</h6>
        <div *ngIf="!share" style="margin-left: 5px; margin-top: 5px;">
          <h6>非公開です</h6>
          <button nbButton outline (click)="releaseDriveProject()">
            プロジェクトを公開する
            <nb-icon icon="eye-outline"></nb-icon>
          </button>
        </div>
        <div *ngIf="share" style="margin-left: 5px; margin-top: 5px;">
          <h6>公開されています</h6>
          <div>
            共有リンク
            <span style="margin:20px">{{projectShareLink}}</span>
            <nb-icon icon="copy-outline" class="myIconHover" style="cursor: pointer;" (click)="copyShareLink()"></nb-icon>
          </div>
          <button nbButton outline style="margin-top: 10px;" (click)="unreleaseDriveProject()">
            プロジェクトを非公開にする
            <nb-icon icon="eye-off-outline"></nb-icon>
          </button>
        </div>
      </div>
    </div>

    <h5>
      自分のPC に保存
    </h5>
    <button nbButton outline (click)="saveProject()">
      プロジェクトファイルのダウンロード (.voisproj)
      <nb-icon icon="download-outline"></nb-icon>
    </button>
  </nb-card-body>
</nb-card>



<!--ファイル選択ダイアログ-->
<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card style="max-height: 75vh;">
    <nb-card-header>
      <h4>Googleドライブのプロジェクトを開く</h4>
    </nb-card-header>
    <nb-card-body>
      <!-- <div *ngFor="let item of driveProjectList">
        <button nbButton ghost (click)="ref.close(); openDriveProject(item.id)">{{item.name}}</button>
      </div> -->

      <ng2-smart-table [settings]="driveProjectsSettings" [source]="driveProjectList"></ng2-smart-table>

      <ng-container *ngIf="driveProjectList.length==0">
        Googleドライブにプロジェクトファイルが見つかりません。
      </ng-container>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton (click)="ref.close()">
        閉じる
        <nb-icon icon="close-outline"></nb-icon>
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>
