.drop-zone {
  width: auto;
  height: 160px;
  border: 1px dashed #999;
  color: #999;
  font-size: 120%;
  font-weight: bold;
  text-align: center;
  padding: 20px 0 0 0;
  line-height: 36px;
  white-space: nowrap;
  overflow: hidden;
}
