.drop-zone {
  width: auto;
  height: 200px;
  border: 5px dashed #999;
  color: #999;
  font-size: 150%;
  font-weight: bold;
  text-align: center;
  padding: 30px 0 0 0;
  line-height: 40px;
  white-space: nowrap;
  overflow: hidden;
}
