<nb-card>
  <nb-card-header>
    フレーズ辞書の選択
  </nb-card-header>
  <nb-card-body>
    <ngx-drop-area (fileLoad)="onFileLoad($event)" text="フレーズ辞書(.pdic)" type="SJIS"></ngx-drop-area>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header id="phraseGraph">
    フレーズの表示
  </nb-card-header>
  <nb-card-body>
    <ngx-phrase-graph graphid="_main"></ngx-phrase-graph>
  </nb-card-body>
</nb-card>

<nb-card class="own-scroll">
  <nb-card-header>フレーズ一覧（{{filename}}）</nb-card-header>
  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="phrase" (deleteConfirm)="onDeleteConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>

