<h2>フレーズ辞書</h2>
<p>ボイスロイド２のフレーズ辞書データをグラフに表示できます。<br>グラフの編集はできますが、調整データの編集はできません。</p>

<nb-card>
  <nb-card-header>
    <h4>フレーズ辞書の選択</h4>
  </nb-card-header>
  <nb-card-body>
    <ngx-drop-area (fileLoad)="onFileLoad($event)" text="フレーズ辞書(.pdic)" type="SJIS"></ngx-drop-area>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header id="phraseGraph">
    <h4>フレーズの表示</h4>
  </nb-card-header>
  <nb-card-body>
    <ngx-phrase-graph graphid="_main"></ngx-phrase-graph>
  </nb-card-body>
</nb-card>

<nb-card class="own-scroll">
  <nb-card-header>
    <h4>フレーズ一覧（{{filename}})</h4>
  </nb-card-header>
  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="phrase" (deleteConfirm)="onDeleteConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>

