<h2>台本編集</h2>
<p>ボイスロイド２で使用できる台本データを編集できます。</p>

<nb-card>
  <nb-card-header>
    <h4>台本の読込</h4>
  </nb-card-header>
  <nb-card-body>
    <ngx-drop-area (fileLoad)="onFileLoad($event)" text="台本(.txt, .vois)、キャラクター情報(.vcha, vpc)" type="SJIS" [selectVisible]="true"></ngx-drop-area>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-accordion>
    <nb-accordion-item #item>
      <nb-accordion-item-header id="characterList">
        <h4>
          キャラクター情報編集
        </h4>
      </nb-accordion-item-header>
      <nb-accordion-item-body>

        <button nbButton outline (click)="onSaveChara()" style="float: right">
          キャラクター情報保存　（.vcha）
          <nb-icon icon="download-outline"></nb-icon>
        </button>
        <button nbButton outline (click)="reNumbering()" style="float: right">
          ID の 整理
          <nb-icon icon="refresh"></nb-icon>
        </button>

        <button nbButton outline (click)="allCheck()">
          すべて表示 / 非表示
          <nb-icon icon="checkmark-square-outline"></nb-icon>
        </button>
        <ng2-smart-table [settings]="settings" [source]="characters" (deleteConfirm)="onDeleteConfirm($event)" (editConfirm)="onEditConfirm($event)" (createConfirm)="onCreateConfirm($event)">
        </ng2-smart-table>

      </nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion>
  <div style="margin: 10px;">
    <ng-container *ngFor="let chara of characters">
      <img [src]="chara.src" width="50" height="50" style="margin: 5px; cursor: pointer;"
           [nbTooltip]="chara.name" nbTooltipPlacement="top"
           (click)="editChara(chara, true)">
    </ng-container>
  </div>
</nb-card>

<nb-card>
  <nb-card-header id="scriptEditor">
    <h4>
      台本編集
      <button nbButton outline style="float: right" (click)="clearEditor()">
        新規
        <nb-icon icon="square-outline"></nb-icon>
      </button>
      <button nbButton outline (click)="onSave()" style="float: right">
        台本保存（.vois）
        <nb-icon icon="download-outline"></nb-icon>
      </button>
      <button nbButton outline (click)="refresh()" style="float: right">
        更新 / キャラクター情報の適用
        <nb-icon icon="refresh"></nb-icon>
      </button>
    </h4>
  </nb-card-header>
  <nb-card-body>
    <div [id]="id" style="height: 65vh;"></div>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header>
    <h4>
      ボイスロイド２用スクリプト
    </h4>
  </nb-card-header>
  <nb-card-body>
    <span style="display: inline-block; width: 90px;">キャラ名</span>
    <nb-select [(ngModel)]="charaNameType" style="width: 148px;">
      <nb-option value="no use">つけない</nb-option>
      <nb-option value="use">つける</nb-option>
      <nb-option value="all">すべてにつける</nb-option>
    </nb-select>
    <div style="display: flex; align-items: center; justify-content: flex-start; margin: 10px 0 10px 0;">
      <span style="display: inline-block; width: 90px;">区切り</span>
      <nb-toggle [(checked)]="breakBar"></nb-toggle>
    </div>
    <ng-container *ngIf="breakBar">
      <span style="margin-left: 20px; display: inline-block; width: 90px;">区切る単位</span>
      <nb-select [(ngModel)]="breakType" style="width: 108px;">
        <nb-option value="enter">行</nb-option>
        <nb-option value="block">ブロック</nb-option>
      </nb-select>
      <br>
      <span style="margin-left: 20px; display: inline-block; width: 90px;">区切り文字</span>
      <input type="text" [(ngModel)]="breakChara" [style.background]="bgColor" [style.color]="textColor" style="margin:10px 0 10px 0; width: 108px"/>
      <br>
    </ng-container>
    <div style="margin: 20px 0 0 0">
      <button nbButton outline (click)="generateScript()">
        生成
        <nb-icon icon="text-outline"></nb-icon>
      </button>
      <button nbButton outline (click)="copyScript()">
        クリップボードにコピー
        <nb-icon icon="copy-outline"></nb-icon>
      </button>
      <button nbButton outline (click)="clearScript()">
        クリア
        <nb-icon icon="square-outline"></nb-icon>
      </button>
    </div>
    <pre id="scriptElement" [style.color]="textColor" style="max-height: 65vh; margin-top:25px; margin-left:10px;">{{script}}</pre>
  </nb-card-body>
</nb-card>


<!-- <nb-card>
  <nb-card-header id="characterList_">
    <h4>
      キャラクター情報編集
      <button nbButton outline (click)="onSaveChara()" style="float: right">
        キャラクター情報保存　（.vcha）
        <nb-icon icon="download-outline"></nb-icon>
      </button>
      <button nbButton outline (click)="reNumbering()" style="float: right">
        ID の 整理
        <nb-icon icon="refresh"></nb-icon>
      </button>
    </h4>
  </nb-card-header>
  <nb-card-body>
    <button nbButton outline (click)="allCheck()">
      すべて表示 / 非表示
      <nb-icon icon="checkmark-square-outline"></nb-icon>
    </button>
    <ng2-smart-table [settings]="settings" [source]="characters" (deleteConfirm)="onDeleteConfirm($event)" (editConfirm)="onEditConfirm($event)" (createConfirm)="onCreateConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card> -->

<nb-card>
  <nb-card-header>
    <h4>ファイルの保存</h4>
  </nb-card-header>
  <nb-card-body>
    <h6>台本</h6>
    <button nbButton outline (click)="onSave()">
      台本ファイル　（.vois）
      <nb-icon icon="download-outline"></nb-icon>
    </button>
    <button nbButton outline (click)="onSaveTabText()">
      タブ付きテキスト　（.txt）
      <nb-icon icon="download-outline"></nb-icon>
    </button>
    <br>
    <br>

    <h6>キャラクター情報</h6>
    <button nbButton outline (click)="onSaveChara()">
      キャラクター情報ファイル　（.vcha）
      <nb-icon icon="download-outline"></nb-icon>
    </button>
  </nb-card-body>
</nb-card>
